<% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
   <% end %>

<div class="container">
  
   
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>user infomashion</h2>
      
      <div class="error_explanation">
      <% if @user.errors.any? %>
      <h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
      <% @user.errors.full_messages.each do |message| %>
    <ul>
    <li><%= message %></li>
    </ul>
      <% end %>
      <% end %>
  </div>
  
      
      <%= form_with model:@user, local:true do |f| %>
  
      <%= f.label :Name %>
      <p><%= f.text_field :name, autofocus: true, size:"20",placeholder:"名前"%></p>
  
      <%= f.label :Image %>
      <p><%= f.attachment_field :profile_image  %></p>
  
      <%= f.label :Introduction %>
      <p><%= f.text_area :introduction,autofocus: true, size:"50",placeholder:"自己紹介"%></p>
     
      <%= f.submit "Update User", class:"btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>

  
 